@inject AuthenticationStateProvider AuthenticationStateProvider

@if (showNavBar)
{
    <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RHF</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
    <MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0" style="background-color: inherit; color:white;">
        <MudNavMenu Class="mud-width-full">
            <MudDivider Class="my-2" />
            <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavGroup Title="Benefactors" Icon="@Icons.Material.Filled.People" Expanded="true">
                <MudNavLink Href="/benefactor" Icon="@Icons.Material.Filled.PersonAdd" IconColor="Color.Success">Add
                    Benefactors</MudNavLink>
                <MudNavLink Href="/benefactorInfo" Icon="@Icons.Material.Filled.TableRows" IconColor="Color.Info">View
                    Benefactors</MudNavLink>
            </MudNavGroup>
            <AuthorizeView>
                <Authorized>
                    <MudNavGroup Title="Beneficiary" Icon="@Icons.Material.Filled.Folder" Expanded="true">
                        <MudNavLink Href="/expenses" Icon="@Icons.Material.Filled.AddShoppingCart"
                            IconColor="Color.Success">Add
                            Deneficiaries</MudNavLink>
                        <MudNavLink Href="/beneficiaryInfo" Icon="@Icons.Material.Filled.FilePresent"
                            IconColor="Color.Info">View
                            Deneficiaries</MudNavLink>

                        <MudNavLink Href="/financial-year" Icon="@Icons.Material.Filled.CalendarMonth"
                            IconColor="Color.Surface">Financial Year</MudNavLink>
                    </MudNavGroup>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <MudDivider Class="my-2" />
                    <MudNavGroup Title="Projects" Icon="@Icons.Material.Filled.Settings" Expanded="false">
                        <MudNavLink Href="/add-projects" Disabled="IsProjectManager" Icon="@Icons.Material.Filled.House" IconColor="Color.Info">Add
                            Projects</MudNavLink>
                        <MudNavLink Href="/beneficiaryInfo" Icon="@Icons.Material.Filled.FolderShared"
                            IconColor="Color.Tertiary">View Projects</MudNavLink>
                    </MudNavGroup>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <MudDivider Class="my-2" />
                    <MudNavGroup Title="Admin" Icon="@Icons.Material.Filled.AdminPanelSettings" Expanded="false">
                        <MudNavLink Href="/add-roles" Icon="@Icons.Material.Filled.Pin" IconColor="Color.Secondary">Add
                            Roles</MudNavLink>
                        <MudNavLink Href="/assign-roles" Icon="@Icons.Material.Filled.AddShoppingCart"
                            IconColor="Color.Primary">Assign Roles</MudNavLink>
                        <MudNavLink Href="/users" Icon="@Icons.Material.Filled.VerifiedUser" IconColor="Color.Surface">View
                            Users</MudNavLink>
                    </MudNavGroup>
                </Authorized>
            </AuthorizeView>
        </MudNavMenu>
    </MudPaper>
}


@code {
    private bool IsCFO => !User?.IsInRole("CFO") ?? true;

    private System.Security.Claims.ClaimsPrincipal User;
    public bool showNavBar { get; set; } = true;
    private bool collapseNavMenu = true;
    private bool IsProjectManager => !User?.IsInRole("Project Manager") ?? true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;

    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
